<style>
  .brand-parent {
    max-width: 100%;
    width: 1300px;
    padding: 0 10px;
    margin: 11px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .brand-child {
    max-width: 100%;
    width: 305px;
    border: 1px solid #ff6803;
    border-radius: 4px;
    flex: 24% 0 0;
    margin: 8px auto;
  }
  .brand-img {
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #13bfd7;
    margin: 4px;
  }
  .brand-img img {
    border-radius: 4px;
  }
  h3.brand-title {
    text-align: center;
    font-size: 20px;
    margin: 0;
    font-weight: 500;
  }
  .brand-desc-html {
    max-width: 100%;
    width: 280px;
    margin: 0 auto;
  }
  .brand-disc {
    display: block;
    max-width: 100%;
    text-align: center;
    background: #ff6803;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 7px 0;
    margin: 9px 4px 5px;
    border-radius: 4px;
    font-size: 12px;
  }
  @media(max-width:450px) {
    .brand-child {
      display: block;
      align-items: center;
      flex: 0;
      width: 45%
    }

    .brand-parent {
      justify-content: space-evenly;
    }
    h3.brand-title {
      line-height: 20px;
    }
    .brand-disc {
      font-size: 10px;
      padding: 7px 5px;
    }
  }
  
</style>
<div class="brand">
  <div class="brand-parent">
    {% for block in section.blocks %}
      <div class="brand-child">
        <div class="brand-img">
          <h2 class="imgg-brand">
            <img
              src="{{ block.settings.brand_img_slid | img_url: '400x' }}"
              alt="{{ block.settings.brand_title }}"
              loading="lazy"
              class="imgg"></h2>
        </div>
        <div class="brand-text">
          <div class="brand-desc">
            <h3 class="brand-title">{{ block.settings.brand_title }}</h3>
            <div class="brand-desc-html">{{ block.settings.brand_desc }}</div>
          </div>
          <div class="brand-disc">
            {{ block.settings.brand_coup }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Brands",
    "settings": [],
    "blocks": [
      {
        "name": "Brand Block",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "brand_img_slid",
            "label": "Select the Image"
          }, {
            "type": "text",
            "id": "brand_title",
            "label": "Enter Brand Name",
            "default": "Boat Lifestyle"
          }, {
            "type": "html",
            "id": "brand_desc",
            "label": "Enter Brand / Offer Description"
          }, {
            "type": "text",
            "id": "brand_coup",
            "label": "Enter Brand Discount"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "page",
        "name": "Brands"
      }
    ]
  }
{% endschema %}
