<style>
  .collection-inner {
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
    width: 100%;
    padding: 20px;
    transition: 0.4s;
}
  .collection-img{flex:28% 0 0}
  .collection-img img {
    border-radius: 76px;
    border: 1.5px solid #f00;
    position:relative;
}
</style>
<div class="container-collection">
  <h2>{{ section.settings.collection_heading }}</h2>
  <div class="collection-inner">
    {% for block in section.blocks %}
      <div class="collection-img coll-img-{{ forloop.index }}">
        <style>
          .coll-img-{{forloop.index}} img{position:relative}
            .coll-img-{{forloop.index}} img::before{
              content:url('https://cdn.shopify.com/s/files/1/0459/6563/9834/files/OBJECTS_2.png?v=1702361257');
              width:40px;
              height:40px;
              position:absolute;
              z-index:1;
            }
          </style>
        {% if block.settings.collection_img != blank %}
        <a href="{{ block.settings.collection_url }}">
          
          <img src="{{ block.settings.collection_img | img_url:'master' }}" width="100%" height="100%" alt={{ block.settings.collection_img.alt }}>
        </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Scrolling Category list",
    "settings": [
      {
        "type":"text",
        "id":"collection_heading",
        "label":"Enter Section Heading"
      }
    ],
    "blocks":[
      {
        "name":"collection block",
        "type":"image",
        "settings":[
          {
            "type":"image_picker",
            "id":"collection_img",
            "label":"select collection image"
          },
          {
            "type":"url",
            "id":"collection_url",
            "label":"Select collection URL"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Scrolling Category List"
      }
    ]
  }
{% endschema %}