<div class="container-collection">
  <h2>{{ section.settings.collection_heading }}</h2>
  <div class="collection-inner">
    {% for block in section.blocks %}
      <div class="collection-img coll-img-{{ forloop.index }}">
        {% if block.settings.collection_img != blank %}
        <a href="{{ block.settings.collection_url }}">
          <img src="{{ block.settings.collection_img | img_url:'master' }}" width="100%" height="100%" alt={{ block.settings.collection_img.alt }}>
        </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Scrolling Category list",
    "settings": [
      {
        "type":"text",
        "id":"collection_heading",
        "label":"Enter Section Heading"
      }
    ],
    "blocks":[
      {
        "name":"collection block",
        "type":"image",
        "settings":[
          {
            "type":"image_picker",
            "id":"collection_img",
            "label":"select collection image"
          },
          {
            "type":"url",
            "id":"collection_url",
            "label":"Select collection URL"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Scrolling Category List"
      }
    ]
  }
{% endschema %}