<table>
		<thead>
			<tr>
				<th class="pr-header" id="{{ section.settings.id }}"></th>
				<th class="pr-header" id="{{ section.settings.id }}"></th>
				<th class="pr-header" id="{{ section.settings.id }}"></th>
				<th class="pr-header" id="{{ section.settings.id }}"></th>
                <th class="pr-header" id="{{ section.settings.id }}"></th>
                <th class="pr-header" id="{{ section.settings.id }}"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="pr-spec-row">
				<td class="pr-spec"></td>
				<td class="pr-spec"></td>
                <td class="pr-spec"></td>
                <td class="pr-spec"></td>
                <td class="pr-spec"></td>
                <td class="pr-spec"></td>
			</tr>
		</tbody>
	</table>
 {% schema %}
   {
     "name":"Comparison Table",
     "settings":[
       {
         "type":"product",
         "id":"table-pr-1",
         "label":"Select 1st product",
          "info":"Selecting this is mandatory"
       },
       {
         "type":"product",
         "id":"table-pr-2",
         "label":"Select 2nd product",
         "info":"Selecting this is mandatory"
       },
       {
         "type":"product",
         "id":"table-pr-3",
         "label":"Select 3rd product"
       },
       {
         "type":"product",
         "id":"table-pr-4",
         "label":"Select 4th product"
       },
       {
         "type":"product",
         "id":"table-pr-5",
         "label":"Select 5th product"
       },
       {
         "type":"product",
         "id":"table-pr-6",
         "label":"Select 6th product"
       }
     ]
   }
 {% endschema %}