<table>
		<thead>
			<tr>
				<th class="pr-header" id="{{ section.settings.id }}"></th>
				<th class="pr-header" id="{{ section.settings.id }}"></th>
				<th class="pr-header" id="{{ section.settings.id }}"></th>
				<th class="pr-header" id="{{ section.settings.id }}"></th>
                <th class="pr-header" id="{{ section.settings.id }}"></th>
                <th class="pr-header" id="{{ section.settings.id }}"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="pr-spec-row">
				<td class="pr-spec"></td>
				<td class="pr-spec"></td>
                <td class="pr-spec"></td>
                <td class="pr-spec"></td>
                <td class="pr-spec"></td>
                <td class="pr-spec"></td>
			</tr>
		</tbody>
	</table>