<style>
  th.pr-header img{width:100px;border-radius:10px;box-shadow:1px 1px 1px 1px #ddd}
  th.pr-header {
    border: 2px solid #0d5ea8;
    background: #0d5ea808;
    color: #0d5ea8;
}
  th.pr-header h3 {
    line-height: 19px;
    padding-top: 11px;
    font-size: 15px;
    text-transform: UPPERCASE;
    font-weight: 500;
}
table{border:1px solid #b3adad;border-collapse:collapse;padding:5px}
table th{border:1px solid #b3adad;padding:5px;background:#f0f0f0;color:#313030}
table td{border:1px solid #b3adad;text-align:center;padding:5px;background:#fff;color:#313030}
	</style>
{% assign product_1 = all_products[section.settings.table-pr-1] %}
{% assign product_2 = all_products[section.settings.table-pr-2] %}
{% assign product_3 = all_products[section.settings.table-pr-3] %}
{% assign product_4 = all_products[section.settings.table-pr-4] %}
{% assign product_5 = all_products[section.settings.table-pr-5] %}
{% assign product_6 = all_products[section.settings.table-pr-6] %}
{% assign product_7 = all_products[section.settings.table-pr-7] %}
{% assign product_8 = all_products[section.settings.table-pr-8] %}
<table>
		<thead>
			<tr>
              <th class="pr-header" id="{{ section.settings.id }}" style="backround-color:{{ section.settings.header-color-1 }}">
                  <h3>Specifications</h3>
                </th>
				<th class="pr-header" id="{{ section.settings.id }}" style="backround-color:{{ section.settings.header-color-2 }}">
                  <img src="{{ product_1.featured_image | img_url:'400x' }}" width="200" height="200">
                  <h3>{{ product_1.title }}</h3>
                </th>
				<th class="pr-header" id="{{ section.settings.id }}" style="backround-color:{{ section.settings.header-color-3 }}">
                  <img src="{{ product_2.featured_image | img_url:'400x' }}" width="200" height="200">
                  <h3>{{ product_2.title }}</h3>
                </th>
				<th class="pr-header" id="{{ section.settings.id }}" style="backround-color:{{ section.settings.header-color-4 }}">
                  <img src="{{ product_3.featured_image | img_url:'400x' }}" width="200" height="200">
                  <h3>{{ product_3.title }}</h3>
                </th>
				<th class="pr-header" id="{{ section.settings.id }}" style="backround-color:{{ section.settings.header-color-5 }}">
                  <img src="{{ product_4.featured_image | img_url:'400x' }}" width="200" height="200">
                  <h3>{{ product_4.title }}</h3>
                </th>
                <th class="pr-header" id="{{ section.settings.id }}" style="backround-color:{{ section.settings.header-color-6 }}">
                  <img src="{{ product_5.featured_image | img_url:'400x' }}" width="200" height="200">
                  <h3>{{ product_5.title }}</h3>
                </th>
                <th class="pr-header" id="{{ section.settings.id }}" style="backround-color:{{ section.settings.header-color-7 }}">
                  <img src="{{ product_6.featured_image | img_url:'400x' }}" width="200" height="200">
                  <h3>{{ product_6.title }}</h3>
                </th>
              <th class="pr-header" id="{{ section.settings.id }}" style="backround-color:{{ section.settings.header-color-8 }}">
                <img src="{{ product_7.featured_image | img_url:'400x' }}" width="200" height="200">
                  <h3>{{ product_7.title }}</h3>
                </th>
              <th class="pr-header" id="{{ section.settings.id }}" style="backround-color:{{ section.settings.header-color-9 }}">
                <img src="{{ product_8.featured_image | img_url:'400x' }}" width="200" height="200">
                  <h3>{{ product_8.title }}</h3>
                </th>
			</tr>
		</thead>
		<tbody>
          {% for block in section.blocks %}
			<tr class="pr-spec-row">
				<td class="pr-spec heading" style="backround-color:{{ section.settings.header-color-1 }}">{{ block.settings.spec-1-heading }}</td>
				<td class="pr-spec" style="backround-color:{{ section.settings.header-color-2 }}">{{ block.settings.spec-2 }}</td>
                <td class="pr-spec" style="backround-color:{{ section.settings.header-color-3 }}">{{ block.settings.spec-3 }}</td>
                <td class="pr-spec" style="backround-color:{{ section.settings.header-color-4 }}">{{ block.settings.spec-4 }}</td>
                <td class="pr-spec" style="backround-color:{{ section.settings.header-color-5 }}">{{ block.settings.spec-5 }}</td>
                <td class="pr-spec" style="backround-color:{{ section.settings.header-color-6 }}">{{ block.settings.spec-6 }}</td>
                <td class="pr-spec" style="backround-color:{{ section.settings.header-color-7 }}">{{ block.settings.spec-7 }}</td>
                <td class="pr-spec" style="backround-color:{{ section.settings.header-color-8 }}">{{ block.settings.spec-8 }}</td>
                <td class="pr-spec" style="backround-color:{{ section.settings.header-color-9 }}">{{ block.settings.spec-9 }}</td>
			</tr>
            {% endfor %}
		</tbody>
	</table>
 {% schema %}
   {
     "name":"Comparison Table",
     "settings":[
       {
         "type":"product",
         "id":"table-pr-1",
         "label":"Select 1st product",
          "info":"Selecting this is mandatory"
       },
       {
         "type":"color",
         "id":"header-color-2",
         "label":"Select Column Header 1",
          "info":"Selecting this is mandatory"
       },
       {
         "type":"product",
         "id":"table-pr-2",
         "label":"Select 2nd product",
         "info":"Selecting this is mandatory"
       },
       {
         "type":"color",
         "id":"header-color-3",
         "label":"Select Column Header 1",
          "info":"Selecting this is mandatory"
       },
       {
         "type":"product",
         "id":"table-pr-3",
         "label":"Select 3rd product"
       },
       {
         "type":"color",
         "id":"header-color-4",
         "label":"Select Column Header 1",
          "info":"Selecting this is mandatory"
       },
       {
         "type":"product",
         "id":"table-pr-4",
         "label":"Select 4th product"
       },
       {
         "type":"color",
         "id":"header-color-5",
         "label":"Select Column Header 1",
          "info":"Selecting this is mandatory"
       },
       {
         "type":"product",
         "id":"table-pr-5",
         "label":"Select 5th product"
       },
       {
         "type":"color",
         "id":"header-color-6",
         "label":"Select Column Header 1",
          "info":"Selecting this is mandatory"
       },
       {
         "type":"product",
         "id":"table-pr-6",
         "label":"Select 6th product"
       },
       {
         "type":"color",
         "id":"header-color-7",
         "label":"Select Column Header 1",
          "info":"Selecting this is mandatory"
       },
       {
         "type":"product",
         "id":"table-pr-7",
         "label":"Select 7th product"
       },
       {
         "type":"color",
         "id":"header-color-8",
         "label":"Select Column Header 7",
          "info":"Selecting this is mandatory"
       },
       {
         "type":"product",
         "id":"table-pr-8",
         "label":"Select 8th product"
       },
       {
         "type":"color",
         "id":"header-color-9",
         "label":"Select Column Header 8",
          "info":"Selecting this is mandatory"
       }
     ],
     "blocks":[
       {
         "name":"specifications block",
         "type":"text",
         "settings":[
           {
             "type":"text",
             "id":"spec-1-heading",
             "label":"Enter Specification Row Heading"
           },
           {
             "type":"text",
             "id":"spec-2",
             "label":"Enter Specification for 1st Product"
           },
           {
             "type":"text",
             "id":"spec-3",
             "label":"Enter Specification for 2nd Product"
           },
           {
             "type":"text",
             "id":"spec-4",
             "label":"Enter Specification for 3rd Product"
           },
           {
             "type":"text",
             "id":"spec-5",
             "label":"Enter Specification for 4th Product"
           },
           {
             "type":"text",
             "id":"spec-6",
             "label":"Enter Specification for 5th Product"
           },
           {
             "type":"text",
             "id":"spec-7",
             "label":"Enter Specification for 6th Product"
           },
           {
             "type":"text",
             "id":"spec-8",
             "label":"Enter Specification for 7th Product"
           },
           {
             "type":"text",
             "id":"spec-9",
             "label":"Enter Specification for 8th Product"
           }
         ]
       }
     ],
     "presets":[
       {
         "name":"Comparison Table"
       }
     ]
   }
 {% endschema %}