<section class="Section Section--spacingNormal {% if page.id == 99733373082 %}bottom_container{% endif %}" id="section-{{ section.id }}" style="background-color:{{ section.settings.bgcolor }}; color:{{ section.settings.txtcolor }}">
  <div class="Container">
    {%- if section.settings.subheading != blank or section.settings.title != blank -%}
      <header class="SectionHeader SectionHeader--center">
        {%- if section.settings.subheading != blank -%}
          <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
        {%- endif -%}

        {%- if section.settings.title != blank -%}
          <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
      </header>
    {%- endif -%}
    {% if page.id == 99733373082 %}
      <div class="Rte" style="text-align: center;margin:0 auto;max-width:1349px;font-size: 28px;max-width:900px;font-style: normal;font-weight: 600;line-height: normal;">
        {{ section.settings.html }}
      </div>
    {% else %}
      <div class="Rte" style="text-align: center;">
        {{ section.settings.html }}
      </div>
    {% endif %}
  </div>
</section>
<style>
.bottom_container
{
    min-height:585px;
    background: {{ section.settings.bgcolor }} url('https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Vector.png?v=1702283714') bottom right no-repeat;
}
.spinbtn{
  background-color: #fff; 
  border: 1px solid #000;
  color: {{ section.settings.bgcolor }};
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration:none;
  border-redius:10px;
}
</style>
{% schema %}
{
  "name": "Custom HTML",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your HTML"
    },
    {
      "type": "html",
      "id": "html",
      "label": "HTML content",
      "default": "<p>Write your own custom HTML content.</p>"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "txtcolor",
      "label": "Text color",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Custom HTML",
      "settings": {}
    }
  ]
}
{% endschema %}
