<style>
  .dotd-1-product, .dotd-2-product, .dotd-3-product{padding:12px}
  .dotd-img {
    max-width: 100%;
    width: 400px;
}
.dotd-meta h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 13px;
    letter-spacing: 0.4px;
}
  .dotd-img img {
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 1px 7px 2px #f4f4f4;
}
span.dotd-cap, span.subdued {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    position: relative;
}
span.subdued::before {
    position: absolute;
    background: #000;
    top: 8px;
    width: 79px;
    height: 3px;
    content: "";
    transform: rotate(5deg);
    left: 0px;
    background-color: #0d5ea8;
}
span.dotd-mrpp{font-size:18px; font-weight: 700;}
.review-meta {
    display: flex;
    align-items: center;
}
.dotd-prod.reviews {
    margin-left: 7px;
}
.dotd-prod.rating {
    margin-right: 7px;
}
.button-dotd {
    max-width: 100%;
    display: block;
    text-align: center;
    background-color: #f9df2d;
    padding: 6px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 19px;
    box-shadow: 1px 1px 1px #d4d4d4;
    border-radius: 5px;}

</style>
{% for block in section.blocks %}
  {%- assign dotd-one = all_products[block.settings.dotd-prod-one] -%}
  {%- assign dotd-one-variant = dotd-one.selected_or_first_available_variant -%}
  {%- assign dotd-two = all_products[block.settings.dotd-prod-two]  -%}
  {%- assign dotd-two-variant = dotd-two.selected_or_first_available_variant -%}
  {%- assign dotd-three = all_products[block.settings.dotd-prod-three]  -%}
  {%- assign dotd-three-variant = dotd-three.selected_or_first_available_variant -%}
  <div class="dotd-container-prod">
    <div class="dotd-slider">
      <div class="dotd-1-product">
        <div class="dotd-img img-1">
          <img src="{{ dotd-one.featured_image | img_url:'400x' }}" alt="{{ dotd-one.title }}">
        </div>
        <div class="dotd-meta meta-1">
          <h2>{{ dotd-one.title }}</h2>
        </div>
        <div class="dotd-price-meta meta-1">
          <div class="review-meta meta-1">
            <div class="dotd-prod rating">{% render 'icon' with 'rating-star' %}{{ dotd-one.metafields.reviews.rating.value }}</div>
            <span>|</span>
            <div class="dotd-prod reviews">{% if dotd-one.metafields.reviews.rating_count.value != blank  %}{{ dotd-one.metafields.reviews.rating_count.value }} {% else %} No {% endif %} Reviews</div>
          </div>
          <p class="priced">
            {% if dotd-one.compare_at_price > dotd-one.price %}
            <span class="subdued"> MRP: {{ dotd-one.compare_at_price | money_with_currency }}</span> <span class="dotd-mrpp">{{ dotd-one.price | money_with_currency }}</span>
            {% else %}
            <span class="dotd-cap"> MRP: {{ dotd-one.compare_at_price | money_with_currency }}</span>
            {% endif %}
          </p>
        </div>
        <div class="button-dotd">
          {% if dotd-one.available %}
            <button type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll dotd" id="ad_to_cartt" aria-haspopup="dialog" data-add-to-cart="{{ dotd-one-variant.id }}" data-var_id="{{ dotd-one-variant.id }}"><span>Add to cart</span></button>
          {% else %}
            <button class="gift soldout"  id="ad_to_cartt" ><span>sold out</span></button>
          {% endif %}
        </div>
      </div>
      <div class="dotd-2-product">
        <div class="dotd-img img-2">
          <img src="{{ dotd-two.featured_image | img_url:'400x' }}" alt="{{ dotd-two.title }}">
        </div>
        <div class="dotd-meta meta-2">
          <h2>{{ dotd-two.title }}</h2>
        </div>
        <div class="dotd-price-meta meta-2">
          <p class="priced">
            {% if dotd-two.compare_at_price > dotd-two.price %}
            <span class="subdued"> MRP: {{ dotd-two.compare_at_price | money_with_currency }}</span> <span class="dotd-mrpp">{{ dotd-two.price | money_with_currency }}</span>
            {% else %}
            <span class="dotd-cap"> MRP: {{ dotd-two.compare_at_price | money_with_currency }}</span>
            {% endif %}
          </p>
        </div>
      </div>
      <div class="dotd-3-product">
        <div class="dotd-img img-3">
          <img src="{{ dotd-three.featured_image | img_url:'400x' }}" alt="{{ dotd-three.title }}">
        </div>
        <div class="dotd-meta meta-3">
          <h2>{{ dotd-three.title }}</h2>
        </div>
        <div class="dotd-price-meta meta-3">
          <p class="priced">
            {% if dotd-three.compare_at_price > dotd-three.price %}
            <span class="subdued"> MRP: {{ dotd-three.compare_at_price | money_with_currency }}</span> <span class="dotd-mrpp">{{ dotd-three.price | money_with_currency }}</span>
            {% else %}
            <span class="dotd-cap"> MRP: {{ dotd-three.compare_at_price | money_with_currency }}</span>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% schema %}
  {
    "name": "DOTD carausel",
    "settings": [
      {
        "type":"image_picker",
        "id":"DOTD_banner",
        "label":"Select DOTD Bbanner"
      }
    ],
    "blocks":[
      {
        "name":"Product Block",
        "type":"product",
        "settings":[
          {
            "type":"product",
            "id":"dotd-prod-one",
            "label":"Select the main product"
          },
          {
            "type":"product",
            "id":"dotd-prod-two",
            "label":"Select yesterday's product"
          },
          {
            "type":"product",
            "id":"dotd-prod-three",
            "label":"Select tomorrow product"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"DOTD carausel",
        "category":"product"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
