{% for block in section.blocks %}
  {%- assign dotd-one = all_products[block.settings.dotd-prod-one] -%}
  {%- assign dotd-one-variant = dotd-1.selected_or_first_available_variant -%}
  {%- assign dotd-two = all_products[block.settings.dotd-prod-two]  -%}
  {%- assign dotd-two-variant = dotd-2.selected_or_first_available_variant -%}
  {%- assign dotd-three = all_products[block.settings.dotd-prod-three]  -%}
  {%- assign dotd-three-variant = dotd-3.selected_or_first_available_variant -%}
  <div class="dotd-container-prod">
    <div class="dotd-slider">
      <div class="dotd-1-product">
        <div class="dotd-img img-1">
          <img src="{{ dotd-one.featured_image | img_url:'400x' }}" alt="{{ dotd-one.title }}">
        </div>
        <div class="dotd-meta meta-1">
          <h2>{{ dotd-one.title }}</h2>
        </div>
        <div class="dotd-price-meta meta-1">
          <p class="priced">
            {% if dotd-one.compare_at_price > dotd-one.price %}
            <span class="subdued">{{ dotd-one.compare_at_price | money_with_currency }}</span> <span class="dotd-mrpp">{{ dotd-one.price | money_with_currency }}</span>
            {% else %}
            <span class="dotd-cap">{{ dotd-one.compare_at_price | money_with_currency }}</span>
            {% endif %}
          </p>
        </div>
      </div>
      {% comment %} <div class="dotd-2-product">
        <div class="dotd-img img-2">
          <img src="{{ dotd-two.featured_image | img_url:'400x' }}" alt="{{ dotd-two.title }}">
        </div>
        <div class="dotd-meta meta-2">
          <h2>{{ dotd-two.title }}</h2>
        </div>
      </div>
      <div class="dotd-3-product">
        <div class="dotd-img img-3">
          <img src="{{ dotd-three.featured_image | img_url:'400x' }}" alt="{{ dotd-three.title }}">
        </div>
        <div class="dotd-meta meta-3">
          <h2>{{ dotd-three.title }}</h2>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
  {% endfor %}
{% schema %}
  {
    "name": "DOTD carausel",
    "settings": [
      {
        "type":"image_picker",
        "id":"DOTD_banner",
        "label":"Select DOTD Bbanner"
      }
    ],
    "blocks":[
      {
        "name":"Product Block",
        "type":"product",
        "settings":[
          {
            "type":"product",
            "id":"dotd-prod-one",
            "label":"Select the main product"
          },
          {
            "type":"product",
            "id":"dotd-prod-two",
            "label":"Select yesterday's product"
          },
          {
            "type":"product",
            "id":"dotd-prod-three",
            "label":"Select tomorrow product"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"DOTD carausel",
        "category":"product"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
