<style>
.marquee__wrapper[data-v-2d2501c6]{white-space:nowrap;overflow:hidden; width: 100%; color: #000;text-transform:uppercase;padding:14px 0;background-color:#f8e11c;font-weight:500;margin-top: 0px;}
  .marquee[data-v-2d2501c6]{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
  .marquee__inner[data-v-2d2501c6]{-webkit-animation:marquee-data-v-2d2501c6 30s linear infinite;animation:marquee-data-v-2d2501c6 12s linear infinite}
  .marquee__text[data-v-2d2501c6]{display:inline-block;margin-right:5.3em;font-size:20px;font-weight:600; font-style:italic}
  .marquee__wrapper[data-v-2d2501c6] img{width:50px;margin-right: 10px;display:none}
  @keyframes marquee-data-v-2d2501c6 {
    0%{-webkit-transform:translateX(0);transform:translateX(0)}
    100%{-webkit-transform:translateX(-100%);transform:translateX(-100%)}
  }
  @media(max-width:480px){
    .marquee__wrapper[data-v-2d2501c6]{padding:9px 0;}
  .marquee__wrapper[data-v-2d2501c6] img {width: 30px;margin-right: 5px;vertical-align: top;}
    .marquee__text[data-v-2d2501c6]{margin-right: 38px;font-size: 14px;}
  }
</style>
<div id="marq" data-v-2d2501c6="" class="marquee__wrapper marquee__wrapper-theme--default"><a href="{{ block.settings.page_url }}"><div data-v-2d2501c6="" class="marquee">
    <div data-v-2d2501c6="" class="marquee__inner"><span data-v-2d2501c6="" class="marquee__text">
       {{ section.settings.text1 }}
      </span><span data-v-2d2501c6="" class="marquee__text">
       {{ section.settings.text2 }}
      </span><span data-v-2d2501c6="" class="marquee__text">
        {{ section.settings.text3 }}
      </span></div>
  <div data-v-2d2501c6="" class="marquee__inner"><span data-v-2d2501c6="" class="marquee__text">
       {{ section.settings.text1 }}
      </span><span data-v-2d2501c6="" class="marquee__text">
       {{ section.settings.text2 }}
      </span><span data-v-2d2501c6="" class="marquee__text">
        {{ section.settings.text3 }}
      </span></div>
  <div data-v-2d2501c6="" class="marquee__inner"><span data-v-2d2501c6="" class="marquee__text">
       {{ section.settings.text1 }}
      </span><span data-v-2d2501c6="" class="marquee__text">
       {{ section.settings.text2 }}
      </span><span data-v-2d2501c6="" class="marquee__text">
        {{ section.settings.text3 }}
      </span></div>
   </div></a></div>

{% schema %}
   {
    "name": "razorpreneur marquee",
    "settings": [
   		
        {
          "type": "text",
          "id": "text1",
          "label": "Text 1"
        },

        {
          "type": "text",
          "id": "text2",
          "label": "Text 2"
        },

        {
          "type": "text",
          "id": "text3",
          "label": "Text 3"
        },

        {
          "type": "text",
          "id": "text4",
          "label": "Text 4"
        }
  ],
    
	"presets": [
        {
          "category": "Product",
          "name": "Razorpreneur Marquee"
        }
      ]
  }
{% endschema %}